<!DOCTYPE html>
<html>
    <head>
        <title>404 PAGE NOT FOUND</title>
    </head>
</html>
<body>
    <div class="mx-auto py-24">
        <h1 class="">Tut mir leid, wir konnten die Seite nicht finden</h1>
        <h1>Bitte versuche es später erneut</h1>
        <a href="/">Home</a>
    </div>
</body>